/* input[type=text], select { */

.text {
  width: 100%;
  min-height: 10rem;
  padding: 12px 20px;
  margin: 8px 0;
  font-family: cursive;
  font-size: xx-large;
  display: inline-block;
  background-color: #000000a5;
  border: 1px solid #160505;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  /* rounded border */
}
/* submit button will contain colorful mediveal taste */

input[type="submit"] {
  display: block;  /* Make the input block-level so it takes up the full line */
  margin-left: auto;  /* Set the left margin to auto */
  margin-right: auto; /* Set the right margin to auto */
  width: 40%;
  background: linear-gradient(to right, #7d7cda, #6c113c); /* gradient background */
  color: white;
  padding: 14px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif; /* a more classic font style */
  font-weight: bold;
  text-shadow: 1px 1px 2px black; /* shadow to make the text pop */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* shadow to give depth to the button */
  transition: all 0.3s; /* smooth transition for hover effect */
}


input[type="submit"]:hover {
  background: linear-gradient(to right, #e682b1, #7d7cda); /* inverted gradient on hover */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: left;

  /* margin-bottom: 1000px; */
}

label {
  color: #000000;
  text-decoration: underline;
  font-family: cursive;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  /* Make it nice  */
  text-shadow: 1px 1px 3px black;
  /* shadow to make the text pop */
  transition: all 0.3s;
  /* smooth transition for hover effect */
}

